<div class="form-body">
  <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
    <div>
      <label>Event Name: </label>
      <input type="text" formControlName="name" autocomplete="off">
    </div>
    <div>
      <label>Type: </label>
      <input type="text" formControlName="type" autocomplete="off">
    </div>
    <div>
      <label>Venue: </label>
      <input type="text" formControlName="venue" autocomplete="off">
    </div>
    <div>
      <label>Host Name: </label>
      <input type="text" formControlName="hostName" autocomplete="off">
    </div>
    <div>
      <label>Start Date: </label>
      <input type="text" formControlName="startDt" autocomplete="off">
    </div>
    <div>
      <label>End Date: </label>
      <input type="text" formControlName="endDt" autocomplete="off">
    </div>
    <div>
      <label>Description: </label>
      <input type="text" formControlName="description" autocomplete="off">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
<br>
<p-table [columns]="cols" [value]="eventList">
  <ng-template pTemplate="caption">
    Event List
  </ng-template>
  <br>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-event let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{event[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>